* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
   background-color: black;
   display: flex;
   flex-direction: column;
   align-items: center;
}


.container1 {
    width: 100%;
    height: 600px;
    background-image: url(https://help.nflxext.com/0af6ce3e-b27a-4722-a5f0-e32af4df3045_what_is_netflix_5_en.png);
    background-size: cover;
}

.container {
    width: 1000px;
    height: 500px;
    background-color:black;
    border-bottom: 5px solid #bab9b9; 
}

.header {
    display: flex;
    justify-content: center;
    height: 70px;
    
}

.header div {
    display: flex;
    width: 450px;
    height: 70px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 40px;
    color: red;
    font-size: 30px;
}

.idioma {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    align-items: center;
    margin-right: 35px;
}

.idioma select {
    color: aliceblue;
    width: 150px;
    height: 30px;
    border-radius: 3px;
    background: transparent;   
    
}

.idioma select:hover{
    color: black;
}


.idioma button { 
    border: 0;
    background-color: red;
    width: 70px;
    height: 30px;
    border-radius: 3px;
    color: white;
}

.corpo1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.texto1 h1{
    font-size: 40px;
}

.texto1 h4{
    font-size: 20px;
}

.texto1 span{
    font-size: 18px;
}

.texto1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    gap: 25px;
    margin-bottom: 20px;
}

.email {
    display: flex;
    gap: 10px;
}

.email input{
    width: 350px;
    height: 50px;
    border-radius: 4px;
    background: black;
    opacity: 65%;
}

.email button { 
    border: 0;
    background: red;
    width: 140px;
    height: 53px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}


.propaganda {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 1600px;
    height: 150px;
    background-color: blueviolet;
    margin-top: -75px;
    margin-left: -300px;
    gap: 30px;
    background-image: linear-gradient(to right, #6d2864, #083263);
    
}

.propaganda div {
    display: flex;
    width: 800px;
    height: 150px;
}

.foto {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: red;
    font-size: 30px;
}

.foto img {
    width: 200px;
    border-radius: 12px;
}

.textoprop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;  
    color: white;
}

.textoprop a {
    color: white;
}

.containerpadrao {
    display: flex;  
}

.containerpadrao div{
    width: 500px;
    height: 400px;   
}

.containerimg {
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
}

.containerimg2 {
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: center;
}

.imgpadrao{
    width: 400px;
    border-radius: 12px;
    
}

.textopadrao {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;  
    color: white;
    margin-left: 100px;
}

.textopadrao h1{
    font-size: 50px;
}

.textopadrao h4{
    font-size: 15px;
}

.containerperguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.pergtitulo {
    margin: 20px;
    font-size: 25px;
}

.perguntas div{
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: #646464;
    width: 600px;
    height: 60px;
    margin: 10px;
    
}

.perguntas form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.txtperg {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.links{
    display: flex;
    justify-content: center;
    
}

.links a, span{
    color: white;
    
}

.links div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    height: 500px;
    gap: 20px;
    
}

















































