* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
   margin-left: 225px; 
}

.imagem {
    width: 900px;
    height: 400px;
}

.container1 {
    width: 900px;
    height: 400px;
    background-image: url(https://help.nflxext.com/0af6ce3e-b27a-4722-a5f0-e32af4df3045_what_is_netflix_5_en.png);
    background-size: cover;
}

.container {
    width: 900px;
    height: 400px;
    background-color: orange; 
}

.header {
    display: flex;
    width: 100%;
    height: 70px;
    
}

.header div {
    width: 450px;
    height: 70px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: red;
}

.idioma {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
    margin-right: 20px;
}

.idioma select {
    outline: unset;
    border: red;
    width: 150px;
    height: 30px;
    border-radius: 3px;
}

.idioma button { 
    background-color: red;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    color: white;
}